version: 2

jobs:
  build:
    docker:
      - image: circleci/node:14
        environment:
          NPM_CONFIG_COLOR: false
          NPM_CONFIG_LOGLEVEL: warn
          NPM_CONFIG_PROGRESS: false
    steps:
      - checkout
      - run: npm install
      - run: npm test
